{
  "openapi": "3.1.0",
  "info": {
    "title": "Monaco API",
    "description": "A RESTful API that allows you to interact with the Monaco Exchange. Provides endpoints for managing Events, Markets, Sessions, Wallets and Orders. To interact with the API, a client must have an App Id and an API Key to authenticate and create a session.",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.monacoprotocol.xyz/",
      "description": "Sandbox API Server"
    }
  ],
  "paths": {
    "/wallets": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "Fetch a list of wallets",
        "description": "Fetch a page of wallets for the current application",
        "operationId": "getWallets",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "optional wallet ids to filter by - defaults to all wallets for calling application",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "wallet types to filter by, e.g., User - defaults to all types",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Commission",
                  "MarketEscrow",
                  "System",
                  "User"
                ]
              },
              "uniqueItems": true
            },
            "example": "User"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedWalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedWalletResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create a wallet",
        "description": "Creates a wallet that can be used to create orders and receive winnings",
        "operationId": "createWallet",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/withdrawals": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Request to withdraw Funds",
        "description": "Request to withdraw funds to an external address from the current wallet",
        "operationId": "requestWithdrawal",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Wallet id to withdraw from",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalRequestResponse"
                }
              }
            }
          },
          "501": {
            "description": "Not implemented",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/overdraft": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Update wallet overdraft limit",
        "description": "Update the overdraft limit for a given wallet and currency",
        "operationId": "updateWalletOverdraft",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Wallet id to update overdraft for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWalletOverdraftRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{id}/deposits/{currencyId}": {
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create a deposit request",
        "description": "Create and process a deposit request for given external address, wallet id and currency id",
        "operationId": "requestDeposit",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The destination wallet id for the deposit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyId",
            "in": "path",
            "description": "The currency id of the deposited funds",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DepositRequestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories": {
      "get": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Fetch subcategories by categories",
        "operationId": "getAllSubcategories",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "categoryIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Create subcategory",
        "operationId": "createSubcategory",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubcategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subcategory"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subcategory"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subcategory"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/{id}/references": {
      "post": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Update subcategory external reference",
        "operationId": "updateReference",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Delete subcategory external reference",
        "operationId": "deleteReference",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubcategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/{id}/participants": {
      "get": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Fetch events participants for a given subcategory id",
        "operationId": "getParticipants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Add participants to the given subcategory. They are added to the current list of participants in the order given",
        "operationId": "addParticipants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddParticipantsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Missing permission"
          }
        }
      }
    },
    "/subcategories/{id}/participants/deactivate": {
      "post": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Deactivate participants in a given subcategory. They can be later re-activated",
        "operationId": "deactivateParticipants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyParticipantsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/{id}/participants/activate": {
      "post": {
        "tags": [
          "Event Subcategories"
        ],
        "summary": "Activate participants in a given subcategory",
        "operationId": "activateParticipants",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "subcategory id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyParticipantsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sessions": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Create session for a given credentials",
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/refresh": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Refresh session for a given token",
        "operationId": "refreshSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/participants/{id}/references": {
      "post": {
        "tags": [
          "Participants"
        ],
        "summary": "Update participant external reference",
        "operationId": "updateReference_1",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "participant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Participants"
        ],
        "summary": "Delete participant external reference",
        "operationId": "deleteReference_1",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "participant id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Fetch orders by filters. At least one of the following filter parameters must be supplied: ids, appIds, eventIds, marketIds, walletIds, references. Page size limit 500.",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of order ids to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "appIds",
            "in": "query",
            "description": "list of apps to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of events to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of markets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "references",
            "in": "query",
            "description": "list of references to filter by - requires appId to be provided also",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "statuses to filter by - valid values to choose are as follows:\n\u003cul\u003e\n    \u003cli\u003e Cancelled - Orders that have not matched and have been cancelled either on request or automatically\u003c/li\u003e\n    \u003cli\u003e Matched - Orders that have been matched, either fully or partially, where the remaining unmatched stake has been cancelled, either on request or automatically\u003c/li\u003e\n    \u003cli\u003e PartiallyMatched - Orders that have been partially matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Unmatched - Orders that have not yet been matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Won - Previously Matched orders that have been deemed to have Won at the time of market settlement\u003c/li\u003e\n    \u003cli\u003e Lost - Previously Matched orders that have been deemed to have Lost at the time of market settlement\u003c/li\u003e\n    \u003cli\u003e Voided - All orders belonging to markets that have been voided\u003c/li\u003e\n\u003c/ul\u003e\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The status of an order can be one of the following\n\u003cul\u003e\n    \u003cli\u003e Cancelled - The order was not matched and has been cancelled either on request or automatically\u003c/li\u003e\n    \u003cli\u003e Failed - A pending order was persisted but then failed to be fully created\u003c/li\u003e\n    \u003cli\u003e Matched - The order has been matched, either fully, or partially where the remaining unmatched stake has been cancelled, either on request or automatically\u003c/li\u003e\n    \u003cli\u003e PartiallyMatched - The order has been partially matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Pending - An order has been persisted but has not yet been processed\u003c/li\u003e\n    \u003cli\u003e Unmatched - The order has not yet been matched, and the remaining unmatched portion might still be matched\u003c/li\u003e\n    \u003cli\u003e Won - The market has been settled and this previously Matched order has been deemed to have Won\u003c/li\u003e\n    \u003cli\u003e Lost - The market has been settled and this previously Matched order has been deemed to have Lost\u003c/li\u003e\n    \u003cli\u003e Voided - The market has been voided so this order has been voided\u003c/li\u003e\n\u003c/ul\u003e\n",
                "enum": [
                  "Cancelled",
                  "Failed",
                  "Matched",
                  "PartiallyMatched",
                  "Pending",
                  "Unmatched",
                  "Won",
                  "Lost",
                  "Voided"
                ]
              }
            }
          },
          {
            "name": "fromStake",
            "in": "query",
            "description": "beginning of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "toStake",
            "in": "query",
            "description": "end of the stake range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fromCreatedAt",
            "in": "query",
            "description": "beginning of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAt",
            "in": "query",
            "description": "end of the creation date range filter (inclusive)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "matchBehavior",
            "in": "query",
            "description": "Optional - How any unmatched portion of an order is treated:\n\u003cul\u003e\n    \u003cli\u003eRetainUnmatched - unmatched portion persists as an offer (default)\u003c/li\u003e\n    \u003cli\u003eCancelUnmatched - unmatched portion is cancelled\u003c/li\u003e\n\u003c/ul\u003e\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RetainUnmatched",
                "CancelUnmatched"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedOrderResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order by id",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/{id}/cancel-v2": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order by id",
        "operationId": "cancelOrderV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an IDResponse object containing the ID of the cancelled order. If the ID is missing, then the order was either already cancelled or fully matched.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel orders owned by the caller by event and/or market; skips invalid markets/orders",
        "operationId": "cancelOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "walletIds",
            "in": "query",
            "description": "list of wallets to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "list of event IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "marketIds",
            "in": "query",
            "description": "list of market IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "list of order IDs to filter the orders to be cancelled",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChunkOrderResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/orders/cancel-v2": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel orders owned by the caller by event and/or market; skips invalid markets/orders",
        "operationId": "cancelOrdersV2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCancelOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns an IDResponse object containing the IDs of any successfully cancelled orders.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create multiple orders",
        "operationId": "createOrders",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order-requests": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "(Coming soon) Submit a request to create an order and get back an acknowledgement response containing the order\u0027s ID immediately. An order with a status of Pending will be created immediately in order to generate an ID; Any in-play/BIR delay, as well as initial matching will be performed asynchronously. Updates about orders created via this method maybe found as OrderUpdate messages through the StreamAPI and/or by calling GET /orders/{id} with the returned ID",
        "operationId": "createOrderRequest",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order-requests/batch": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "(Coming soon) Submit a request to create multiple orders and get back an acknowledgement response containing the orders\u0027 ID\u0027s immediately. Orders with status of Pending will be created immediately in order to generate IDs; Any in-play/BIR delay, as well as initial matching will be performed asynchronously. The order IDs, and/or any errors, will be ordered in the response in the same order as in the request. Updates about orders created via this method maybe found as OrderUpdate messages through the StreamAPI and/or by calling GET /orders/{id} with the returned IDs",
        "operationId": "createOrderRequests",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BatchIDResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Returns a paginated list of markets based on the provided filter and ordering criteria. This can get specific known markets (by market ID), or markets based on other criteria such as event ID(s) and/or market type and status etc.",
        "operationId": "getMarkets",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Optional list of specific IDs to fetch",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "Optional list of app IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventIds",
            "in": "query",
            "description": "Optional list of event IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "marketTypeIds",
            "in": "query",
            "description": "Optional list of market type IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "currencyIds",
            "in": "query",
            "description": "Optional list of currency IDs to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Optional list of market statuses to filter results by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Initializing",
                  "Open",
                  "Locking",
                  "Locked",
                  "Settling",
                  "Settled",
                  "Voiding",
                  "Voided",
                  "Closed"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "inPlayStatuses",
            "in": "query",
            "description": "Whether the markets are currently in-play or not. Returns all if not set",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NotApplicable",
                  "PrePlay",
                  "InPlay"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "The inclusive beginning of a date-time range filter. If not provided, no restriction will be applied to the beginning of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "The exclusive end of a date-time range filter. If not provided, no restriction will be applied to the end of the range",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Optional filter as to whether the market is published or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedMarketResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Create market",
        "operationId": "createMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{marketId}/market-outcomes/{outcomeId}": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Update an existing market outcome",
        "operationId": "updateMarketOutcome",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outcomeId",
            "in": "path",
            "description": "market outcome id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketOutcomeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/void": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Void market",
        "operationId": "voidMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/suspend": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Suspend market",
        "operationId": "suspendMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/settle": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Settle market",
        "operationId": "settleMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/result": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Set market results",
        "operationId": "setResultsForMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketResultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/references": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Update market external reference",
        "operationId": "updateReference_2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Markets"
        ],
        "summary": "Delete market external reference",
        "operationId": "deleteReference_2",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/publish": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Publish market",
        "operationId": "publishMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/open": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Open market",
        "operationId": "openMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/name": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Update the name of a market",
        "operationId": "updateMarketName",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/market-outcomes": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Add a new market outcome to a market",
        "operationId": "addMarketOutcome",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMarketOutcomeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/lock": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Lock market",
        "operationId": "lockMarket",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/markets/{id}/lock-at": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Update the lock at date/time of a market",
        "operationId": "updateMarketLockAt",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{id}/cross-matching": {
      "post": {
        "tags": [
          "Markets"
        ],
        "summary": "Set market results",
        "operationId": "setCrossMatching",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "market id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleActionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Request invalid"
          },
          "401": {
            "description": "Session invalid"
          },
          "403": {
            "description": "Missing permission"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/market-types": {
      "get": {
        "tags": [
          "Market Types"
        ],
        "summary": "Fetch all market types",
        "operationId": "getMarketTypes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Market Types"
        ],
        "summary": "Create market type",
        "operationId": "createMarketType",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTypeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat": {
      "get": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Fetch heartbeat",
        "operationId": "getHeartbeat",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Update heartbeat last received timestamp",
        "operationId": "updateHeartbeatLastReceived",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/update": {
      "post": {
        "tags": [
          "Heartbeat Management"
        ],
        "summary": "Update heartbeat configuration",
        "operationId": "updateHeartbeat",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHeartbeatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Fetch events by ids, categories, sub-categories, event groups and/or from/yo dates",
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "list of event ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "ownerAppIds",
            "in": "query",
            "description": "List of IDs of the apps that created the Events",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "categoryIds",
            "in": "query",
            "description": "list of category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "subcategoryIds",
            "in": "query",
            "description": "list of sub-category ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "eventGroupIds",
            "in": "query",
            "description": "list of event group ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "starting",
            "in": "query",
            "description": "Live, Today, Later, Range",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Live",
                "Today",
                "Later",
                "Range"
              ]
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "starting from date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDateTime",
            "in": "query",
            "description": "starting to date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Whether the event is active or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PagedEventResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create event",
        "operationId": "createEvent",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "403": {
            "description": "Missing permission",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}/references": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Update event external reference",
        "operationId": "updateReference_3",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "description": "Session invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete event external reference",
        "operationId": "deleteReference_3",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Header with the accessToken for the current session",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJ0eXAiOiJ...bjV7AtDgA"
          },
          {
            "name": "id",
            "in": "path",
            "description": "event id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferencesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
[...]
